
body {
    background-color: #cbfc82;
    color: white;
    font-family: "Playwrite CU", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #c8cfff;
    color: rgb(28, 30, 28);
    font-family: "Playwrite CU", cursive;
}
